html, body {
  height: 100%;
  background-color: $primary-color;
  color: $lighter-color;
  font-family: $default-font;
  font-weight: normal;
  text-align: center;
  margin-top: 0!important;
  margin-left: 0;
  margin-right: 0;
  //md, lg
    @media (min-width: $screen-md-min) {
      text-align: left;
    }
    &.loading {
      overflow: hidden;
      position: relative;
    }
    //overflow-x: hidden;
    ::selection {
      background: $secondary-color; /* WebKit/Blink Browsers */
      color: $primary-color;
    }
    * {
      box-sizing: border-box;
    }
    &.menu-opened {
      overflow: hidden;
    }
  }
  .conteudo {
    display: none;
  }
  .active .conteudo {
    display: block;
    margin: 55px auto;
  }
  .menu-btn {
      position: fixed;
      top: 35px;
      left: $container-padding;
      width: 54px;
      height: 19px;
      cursor: pointer;
      z-index: 9999;
      @media (min-width: $mobile-large) {
        left: 41px;
      }
      @include element('bar') {
        background: #FFFFFF;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        transition: all 500ms ease-out;
        &:nth-child(3n+1) {
          &.opened {
            transform: rotate(50deg);
            top: 6px;
          }
        }
        &:nth-child(3n+2) {
          top: 7px;
          &.opened {
            transform: rotate(-50deg);
            top: 6px;            
          }
        }
        &:nth-child(3n+3) {
          top: 14px;
          &.opened {
            opacity: 0;
          }
        }
      }
    }
  
  main {
    background-image: url('../images/top-inner.jpg');
    background-repeat: no-repeat;
    background-position: top center;
  }
  .menu-mobile {    
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    ul {
      list-style: none;
      padding: 20% 0;
      margin: 0;
    }
    li {
      padding: 5px 0;
    }
    a {
      color: #FFFFFF;
      font-size: 24px;
    }
  }
  .home {
    main {
      background-image: none;
    }
    header {
      position: absolute;
      top: 0;
      z-index: 99;
      width: 100%;
      }
      .inner-content {
        padding-top: 375px;
        margin-top: -275px;
        position: relative;
        @media (max-width: $mobile-large) {
          margin-top: -400px;
        }
      }
      .carousel-caption {
        display: flex;
        justify-content: space-between;
        bottom: 100px;
        
        @media (max-width: $mobile-large) {
          flex-direction: column;    
        }
      }
      .carousel {
        position: relative;
        width: 100%;
        max-width: 1920px;
        overflow: hidden;

        display: flex;
        align-items: center;
        img.destaque {
          max-width: 1920px;
          width: 100%;
          margin: 0 auto;    
          @media (max-width: $mobile-large) {
            margin-left: -717px;
          }
        }
        @media (max-width: $mobile-large) {
          //flex-direction: column;
        }
        @media (max-width: $mobile-medium) {
        }
        @media (max-width: $mobile-small) {
        }
      }
      .left {
        text-align: left;

        h2, p , a {
          font-size: 36px;
          margin: 0;
        }
        p {
          font-weight: 100;
        }
        a {
          color: #ccffff;
          text-decoration: underline;
          margin-top: 30px;
          display: block;
        }
      }
      .right {
        text-align: right;
        span {
          display: block;
        }

        h1 {
          font-size: 60px;
          background-image: url('../images/brazil.png');
          background-repeat: no-repeat;
          background-position: top right;
          padding-top: 20px;
          line-height: 1;
        }
      }
      article {
        position: relative;
      .list {    
        position: absolute;
        z-index: 99999;
        bottom: 10%;
        width: 40%;
        right: 20%;
        z-index: 99999;
      }
    a {

      text-decoration: none;
      color: #FFFFFF;
    }
    .date {
      background-color: #18112c;
      color: #7d729c;
      font-size: 12px;
      text-align: center;
      width: 100px;
      height: 100px;
      padding: 18px;
      margin-right: 30px;
      font-weight: bold;
    }
    .item + .item {
      margin-top: 25px;
      padding: 25px 0;
    }

      }
    }
  .top-content {    
    background-image: url('../images/top-home.jpg');
    position: relative;
    display: flex;
    background-size: 1920px 1009px;
    min-height: 1009px;
    background-position: center -4px;
    background-repeat: no-repeat;
    justify-content: space-around;
      @media (max-width: $mobile-large) {
        flex-direction: column-reverse;    
        justify-content: flex-end;
      }
    .box {
      width: 35%;
      margin: 0 auto;
      padding-top: 215px;

      @media (max-width: $mobile-large) {
        padding-right: 0;
        padding-top: 65px;
        width: 100%;
      }
    }
    .box2 {
      width: 20%;
      margin: 0 auto;
      padding-top: 215px;
      @media (max-width: $mobile-large) {
        width: 100%;
        padding-top: 0px;
      }
      .title {
        font-size: 30px;
      }
      .cicloNumbers {
        font-size: 30px;
      }
    }
    h3 {
      font-size: 36px;
      font-weight: 600;
    }
    p {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 100;
    }

    a {
      background-image: url('../images/button.png');
      display: block;
      width: 135px;
      height: 43px;
      margin-top: 35px;
      color: $lighter-color;
      font-size: 18px;
      text-align: center;
      line-height: 2.5;

      @media (max-width: $mobile-large) {
        margin: 30px auto 0;
      }
    }
  }
  .parallax {
    min-height: 400px;
    background: transparent;
    min-width: 400px;
}
  header {
    position: relative;
    display: flex;
    justify-content: center;
    .logo {
      width: 253px;
      height: 220px;
      @media (max-width: $mobile-large) {
        width: 170px;
        height: 154px;
      margin-top: 30px;
      }
    }
    nav {
      display: flex;
      position: relative;
      align-items: center;
      width: 100%;
      max-width: 1440px;
      width: 100%;
      padding: 0 5%;
      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
    .menu {
      justify-content: space-between;
      width: 80%;
      align-items: center;
      margin: 20px auto;
      position: relative;
      a {
        color: #FFFFFF;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 500;
        &.active {
          background-image: url('../images/menu-active.png');
          background-repeat: no-repeat;
          background-position: top center;
          height: 30px     
        }
      }
    }

    .social {
      position: absolute;
      justify-content: space-between;
      align-items: center;
      width: 60px;
      right: 0;
          top: 50%;
    margin-top: -20px;
      a {
        color: #FFFFFF;
        font-size: 28px;
        text-transform: uppercase;
      }
    }
  }
  .inner-content {
    background-image: url('../images/content-top.png');
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 320px;
    position: relative;
    article {
      background-image: url('../images/background-content.jpg');
      min-height: 591px;
      padding-bottom: 360px;
      display: flex;
      align-items: center;

    justify-content: center;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;  
        height: 360px;
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.81));
      }
    }
  }
  .results-news {
    background-color: $primary-color;
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    position: relative;
        @media (max-width: $mobile-large) {
          flex-direction: column;
          padding-bottom: 100px;
        }

    h3 {
      font-size: 30px;
      margin-bottom: 30px;
    }
    .poker-chip {
      background-image: url('../images/poker-chip.png');
      display: block;
      width: 259px;
      position: absolute;
      height: 189px;
      bottom: -85px;
      right: 10%;
        @media (max-width: $mobile-large) {
          width: 249px;
          background-size: 100%;
          background-repeat: no-repeat;
        }
    }
  }
  .results {
    width: 30%;
    padding: 30px 0;
        @media (max-width: $mobile-large) {
          width: 100%;   
        }
    .list {
      width: 100%;
    }
    .item {
      display: flex;
      width: 100%;
      justify-content: space-between;
      background-image: url('../images/bg-point.png');
      max-height: 32px;
      margin: 5px auto;
      font-size: 16px;
      line-height: 2;
        @media (max-width: $mobile-large) { 
          overflow: hidden;
        }
    }
    .position {
      background-image: url('../images/button-position.png');
      background-repeat: no-repeat;
      width: 66px;
      height: 31px;
      padding: 5px 20px;
      font-size: 16px;
      color: #000000;
      line-height: 1.2;
      font-weight: 600;
      text-align: center;
    }
    .point {
      background-image: url('../images/point.png');    
      background-repeat: no-repeat;
      width: 77px;
      height: 32px;
      padding: 5px 0 5px 28px;
      text-align: center;
      font-size: 16px;
      line-height: 1.2;
      font-weight: bold;
    }

    a.button {
      background-image: url('../images/button.png');
      display: block;
      width: 135px;
      height: 43px;
      margin-top: 35px;
      color: $lighter-color;
      font-size: 18px;
      text-align: center;
      line-height: 2.5;
      @media (max-width: $mobile-large) {
        margin: 30px auto 0;
      }
    }
  }
   article.results{
    width: 100%;

    .item {
      background-image: url(../images/bg-point2.png);
      min-height: 40px;
      margin: 20px auto;
      border-radius: 29px;
      background-repeat-y: no-repeat;
      background-size: 63px 40px;
    }
    .position {
      background-size: cover;
      width: 88px;
      height: 40px;
      padding-top: 7px;
      font-size: 20px;
    }
    p {
      font-size: 20px;
    }
    .point {
      background-size: 85px 40px;
      width: 87px;
      height: 40px;
      padding: 10px 0 10px 28px;
    }
    h2 {
      font-size: 36px;
      margin-bottom: 30px;
    }
    .button2 {
      display: block;
      padding: 20px 40px;
      text-align: center;
      font-size: 18px;
      max-width: 210px;
      margin: 20px auto 0;
      border: 1px solid #ffffff;
      color: #FFFFFF;
    }
   }
  .mobile-hidden {
    display: none;
    @media (max-width: $mobile-large) {
      display: block;
    }
  }
  .content {
    position: relative;
  }
  .desktop-hidden {
    display: block;
    @media (max-width: $mobile-large) {
      display: none;
    }
  }
  article.news {
    width: 100%;
    .list {
      max-width: 1440px;
      width: 100%;
      padding: 0 5%;
    }

    .image {
      border: 4px solid #3c3c3c;
      margin-right: 30px;    
      height: 110px;
    }
    span {
      display: block;
      font-size: 40px;
    }

    .content {
      width: calc(100% - 100px );
    }
    span {
      display: block;
      font-size: 30px;
    }
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
      font-weight: 100;
    }
    .plus {
      background-image: url('../images/plus.png');
      display: block;
      width: 48px;
      height: 48px;
      text-indent: -99999px;
    }
    
    .item {
      display: flex;
      width: 100%;
    }
    .container1 + .container1 {
      border-top: 1px solid #FFFFFF;
      margin-top: 25px;
      padding: 25px 0;
    }
    .item + .item {
      border-top: 1px solid #FFFFFF;
      margin-top: 25px;
      padding: 25px 0;
    }
    h2 {
      font-size: 36px;
      margin-bottom: 30px;
    }
    .button2 {
      display: block;
      padding: 20px 40px;
      text-align: center;
      font-size: 18px;
      max-width: 210px;
      margin: 20px auto 0;
      border: 1px solid #ffffff;
    }
    h3, p {
      font-size: 25px;
      margin: 0; 
    }
    .plus {
      background-image: url('../images/plus.png');
      background-repeat: no-repeat;
      display: block;
      width: 48px;
      height: 48px;
      text-indent: -99999px;
      margin-left: 20px;
    }
    a {
      color: #ffffff;
    }
  }
  article.gallery {
    width: 100%;
    .list {
      max-width: 1440px;
      width: 100%;
      padding: 0 5%;
    }
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 1710px;
      width: 100%;
      max-width: 1440px;
    }
    li {
      margin: 15px;
      border: 0;
      max-width: 230px;
      width: 20%;
    }
    img {     
      width: 100%;
      height: auto;
      max-width: 230px;
    }
  }
  #satellites {
    .active {
      display: flex;
    }

    h3 {
      font-size: 36px;
      font-weight: 600;
      margin-top: 0;
    }
    p {
      font-size: 18px;
      font-weight: 100;
    }
    .right {
      font-size: 40px;
      border: 1px solid #FFF;
      border-radius: 50px;
      width: 70px;
      height: 60px;
      text-align: center;
      line-height: 1.5;
      margin-left: 20px;
    }
    .item {
      margin: 0;
      padding: 0;
    }
    .date {
      background-color: transparent;
      border: 3px solid #FFFFFF;
      color: #FFFFFF;
      font-size: 12px;
      text-align: center;
      width: 120px;
      height: 120px;
      padding: 18px;
      margin-right: 30px;
      font-weight: bold;
    }
    .next {
      display: none;
    }
    .content {
      width: calc(100% - 175px)
    }
    span {
      display: block;
      font-size: 28px;
    }
  }
  article.satellites {
    width: 100%;

    .list2 {    
      max-width: 1440px;
      width: 100%;
      padding: 0 5%;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .col1, .col2 {
      width: 40%;
    }
    .date {
      background-color: #1a6404;
      color: #FFFFFF;
      font-size: 16px;
      text-align: center;
      width: 120px;
      height: 120px;
      padding: 18px;
      margin-right: 30px;
      font-weight: bold;
    }
    .content {
      width: calc(100% - 120px);
    }

    .button2 {
      display: block;
      padding: 20px 40px;
      text-align: center;
      font-size: 18px;
      max-width: 210px;
      margin: 20px auto 0;
      border: 1px solid #ffffff;
      color: #ffffff;
    }
    span {
      display: block;
      font-size: 40px;
    }
    .item {
      align-items: center;
      display: flex;
    }
    .item + .item {
      margin-top: 25px;
      padding: 25px 0;
    }
    h2 {
      font-size: 36px;
      margin-bottom: 30px;
    }
  }
  article.dairy {
    width: 100%;

    .list {
      max-width: 1440px;
      width: 100%;
      padding: 0 5%;
    }
    .date {
      background-color: #1a6404;
      color: #FFFFFF;
      font-size: 16px;
      text-align: center;
      width: 120px;
      height: 120px;
      padding: 18px;
      margin-right: 30px;
      font-weight: bold;
    }
    span {
      display: block;
      font-size: 40px;
    }
    .item {
      align-items: center;
    }
    .container1 + .container1 {
      border-top: 1px solid #FFFFFF;
      margin-top: 25px;
      padding: 25px 0;
    }
    h2 {
      font-size: 36px;
      margin-bottom: 30px;
    }
    .button2 {
      display: block;
      padding: 20px 40px;
      text-align: center;
      font-size: 18px;
      max-width: 210px;
      margin: 20px auto 0;
      border: 1px solid #ffffff;
    }

    h3, p {
      font-size: 25px;
      margin: 0; 
    }
    .plus {
      background-image: url('../images/plus.png');
      display: block;
      width: 48px;
      height: 48px;
      text-indent: -99999px;
    }

  }
    .list {
      max-width: 1440px;
      width: 100%;
      padding: 0 5%;
    }
  .dairy {
    width: 30%;
    padding: 30px 0;
        @media (max-width: $mobile-large) {
          width: 100%;
        }
    .list {
      max-width: 1440px;
      width: 100%;
      padding: 0 5%;
    }
    .item {
      display: flex;
      width: 100%;
    }
    a {

      text-decoration: none;
      color: #FFFFFF;
    }
    .date {
      background-color: #18112c;
      color: #7d729c;
      font-size: 12px;
      text-align: center;
      width: 100px;
      height: 100px;
      padding: 18px;
      margin-right: 30px;
      font-weight: bold;
    }
    .item + .item {
      margin-top: 25px;
      padding: 25px 0;
    }
    .content {
      width: calc(100% - 100px );
    }
    span {
      display: block;
      font-size: 30px;
    }
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
      font-weight: 100;
    }
    a.button {
      background-image: url('../images/button.png');
      display: block;
      width: 135px;
      height: 43px;
      margin-top: 35px;
      color: $lighter-color;
      font-size: 18px;
      text-align: center;
      line-height: 2.5;
      @media (max-width: $mobile-large) {
        margin: 30px auto 0;
      }
    }
  }
  .news {
    width: 30%;
    padding: 30px 0;
        @media (max-width: $mobile-large) {
          width: 100%;
        }
    .item a{
      display: flex;
      text-decoration: none;
      color: #FFFFFF;
    }
    .item + .item {
      border-top: 1px solid #18112c;
      margin-top: 25px;
      padding: 25px 0;
    }
    .image {
      border: 4px solid #3c3c3c;
      margin-right: 30px;    
      height: 110px;
    }
    p {
      font-size: 20px;
      font-weight: 100;
    }
    a.button {
      background-image: url('../images/button.png');
      display: block;
      width: 135px;
      height: 43px;
      margin-top: 35px;
      color: $lighter-color;
      font-size: 18px;
      text-align: center;
      line-height: 2.5;
      @media (max-width: $mobile-large) {
        margin: 30px auto 0;
      }
    }
  }
  .contact {
      input[type="text"], input[type="tel"], input[type="email"], textarea {
        border: 1px solid #ffffff;
        background-color: rgba(145,208,34,0.6);
        resize: none;
        color: #FFFFFF;
        width: 100%;    
        padding: 12px 20px;
        font-size: 18px;
      }
      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #FFFFFF;
      }
      .form-type {
        display: none;
        &.active {
          display: block;
        }
      }
      label {
        font-size: 26px;
      }
      .submit {
        text-align: right;
      }
      .group {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      .item {
        width: 100%;
        margin: 10px 30px 10px 0;
      }
      input[type="submit"] {
        background-color: transparent;
        border: 1px solid #FFFFFF;
        font-size: 20px;
        padding: 10px 40px;
        margin: 40px auto 0 0;
        width: 100%;
        max-width: 230px;
      }
      .press-office {
        font-size: 30px;
      }
    }
  .gallery {
    background-color: $secondary-color;
    padding: 3% 10%;
    border-bottom: 3px solid #ffffff;

        @media (max-width: $mobile-large) {
          padding-top: 70px;
          padding-bottom: 60px;  
        }
    h3 {
      font-size: 30px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
        @media (max-width: $mobile-large) {
          flex-direction: column; 
           align-items: center;
        }
    }
    li {
      border: 1px solid #000000;
      width: 100%;
      max-width: 248px;
    }
    img {
      width: 100%;
      max-width: 248px;
    }
    a {
      background-image: url('../images/button.png');
      display: block;
      width: 135px;
      height: 43px;
      margin-top: 35px;
      color: $lighter-color;
      font-size: 18px;
      text-align: center;
      line-height: 2.5;
      @media (max-width: $mobile-large) {
        margin: 30px auto 0;
      }
    }
  }
  .carts {      
    background-image: url(../images/carts.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    min-height: 1152px;
    top: 524px;
    z-index: 9;
  }
  article.about {
    
    h2 {
      font-size: 36px;
      margin-bottom: 30px;
    }
    h3, p {
      font-size: 25px;
    }
  }
  footer {
    background-color: $tertiary-color;
    padding: 80px 10% 3%;
    display: flex;
    justify-content: space-between;
    position: relative;

        @media (max-width: $mobile-large) {
          flex-direction: column;
          text-align: center;
          position: relative;
          padding-top: 140px;
          align-items: center;
        }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      a {
        font-size: 18px;
        color: $lighter-color;
      }
      li {
        padding: 5px 0;
      }
    }
    h3 {
      font-size: 30px;
    }

    .logo-footer {
      background-image: url(../images/logo-footer.png);
      background-repeat: no-repeat;
      background-position: bottom center;
      padding-bottom: 50px;
      max-width: 750px;
      width: 100%;
      position: absolute;
      height: 160px;
      top: -58px;
      margin-left: -375px;
      left: 50%;
      @media (max-width: $mobile-large) {
        margin-left: -175px;
      }
      @media (max-width: $mobile-medium) {
        margin-left: -175px;
      }
      @media (max-width: $mobile-small) {
        margin-left: -175px;
      }
    }
    .social-footer {
      display: flex;
      width: 10%;
      justify-content: space-around;
        @media (max-width: $mobile-large) {
          width: 100%;
          position: absolute;
          top: 85px;
          max-width: 130px;
        }
      a {
        font-size: 35px;
      }
    }
    .menu-footer {
      width: 20%;
      a {
            font-size: 25px;
            font-weight: 100;
          }
        @media (max-width: $mobile-large) {
          width: 100%;
          border-bottom: 1px solid #FFFFFF;
          padding-bottom: 20px;
          margin-bottom: 20px;
          
        }

    }
    
    .principal-partner {
      width: 30%;
      .image {
        width: 100%;    
        max-width: 180px;
      }
    }

    .partner {
      width: 40%;
        @media (max-width: $mobile-large) {
          width: 100%;
          margin-top: 50px;
        }

        .image {
          width: 100%;    
          max-width: 150px;
        }
    }

  } 